/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --primary:#1aac83;
  --error:#e7195a;
}

div.error{
  padding: 10px;
  background:#ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;

}

input.error{
  border: 1px solid var(--error);
}

.popup{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 999;
  transition: opacity 0.3s, visibility 0.3s;
}


.popup label, input{
  display: block;
}
.popup input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding:10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.login {
  padding: 1em;
  background: hsl(233deg 36% 38%);
  color: hsl(0 0 100);

  border-radius: 30px;
  font-weight: 600;
}

